In [ ]:
# Coleman Petras
# SDEV 220
# M04 Programming Assignment - Modules and Databases
# Complete the following sections in your Jupyter Notebook: 11.1, 11.2, 16.8

In [4]:
# 11.1 Create a file called zoo.py. In it, define a function called
# hours() that prints the string 'Open 9-5 daily'. Then, use the 
# interactive interpreter to import the zoo module and call its
# hours() function.

import zoo
hours()

Open 9-5 daily

In [3]:
# 11.2 In the interactive interpreter, import the zoo module
# as menagerie and call its hours() function

import zoo as menagerie
menagerie.hours()

Open 9-5 daily

In [ ]:
# 16.8 Use the sqlalchemy module to connect to the sqlite3
# database books.db that you just made in exercise 16.4. As in 
# 16.6, select and print the title column from the book table
# in alphabetical order.

OF NOTE: TO COMPLETE ASSIGNMENT 16.8, OTHER QUESTIONS NEED TO BE COMPLETED IN ORDER FOR THIS TO WORK CORRECTLY, THOSE QUESTIONS ARE BEING ANSWERED WITH A SCRIPT CREATED IN VSCODE WHICH WILL BE INCLUDED IN THE GITHUB REPOSITORY THAT IS SUBMITTED FOR THIS ASSIGNMENT.

In [1]:
import SupportingCode
import sqlite3
import os

directory = 'C:/Users/colem/Desktop/Coleman Programs/M04-Collaboration/'
db_file = os.path.join(directory, 'books.db')

try: 
    with sqlite3.connect(db_file) as connection:
        cursor  = connection.cursor()

    select_title_query = '''
        SELECT title
        FROM books
        ORDER BY title ASC;
    '''

    cursor.execute(select_title_query)
    rows = cursor.fetchall()

    for r in rows:
        print(r[0])

except sqlite3.Error as e:
    print(f"SQLite error: {e}")

finally:
    if 'cursor' in locals():
        cursor.close()

Perdido Street Station
Small Gods
The Spellman Files
Thud!

In [2]:
import sqlalchemy as sa

# Specify the path to the SQLite database
db_path = 'C:/Users/colem/Desktop/Coleman Programs/M04-Collaboration/books.db'
engine = sa.create_engine(f'sqlite:///{db_path}')

# Establish a connection
conn = engine.connect()

try:
    # Define the SQL query to select titles from the books table
    select_stmt = sa.text('SELECT title FROM books ORDER BY title ASC;')

    # Execute the query
    result = conn.execute(select_stmt)

    # Fetch all rows from the result object
    rows = result.fetchall()

    # Print each title
    for row in rows:
        print(row[0])  # Accessing the first element of the tuple to print the title

finally:
    # Close the connection
    conn.close()

Perdido Street Station
Small Gods
The Spellman Files
Thud!